.gradle
build
out
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# asdf
.tool-versions

# mac
.DS_Store

# Generated e2e stubs
src/test/c/fdcan_e2e.gen.c
src/test/c/power_save_e2e.gen.c
src/test/c/clock_source_e2e.gen.c
src/test/c/can_health_e2e.gen.c
src/test/c/libpanda.dylib
